page-updateprofile {

  .item-md {
    background-color: transparent !important;
  }

  .text-input{
    color:white !important;
  }

  .text-input-md{
    color:white !important;
  }

  .item-md {
    color: white !important;
  }

  .button-md {
    background-color: rgba(3, 101, 185, 0.9)  }

  .box
  {
    vertical-align: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  ion-card img {
    border-radius: 50%;
  }
.shadow{
  box-shadow: 0px 0px 3px 3px #1476b4;

}
}
